@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7F5AF0;
  --secondary-color: #2CB67D;
}

::selection {
  background-color: var(--secondary-color);
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

html {
  scroll-behavior: smooth;
  background: #16161A;
  color: #FFFFFE !important;
  font-family: sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

