@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #006F7D;
}

::selection {
  background-color: var(--primary-color);
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

html {
  scroll-behavior: smooth;
  background: #262626;
  color: #fff !important;
  font-family: sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
